// :root {
//     --space-base: 30px;
//     --orange: rgba(225,116,48,1);
//     --light-orange: rgb(255, 186, 137);
//     --green: #21e0c4;
//     --dark-green: #20bbd2;
//     --dark-blue: #0f396a;
//   }

//   * {
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
//   }
  
//   html {
//     font-size: 62.5%;
//     font-family: 'Open Sans', sans-serif;
//   }
// //   media
//   main {
//     // max-width: 80vw;
//     // margin: 0 auto;
  
//     // font-size: 1.6rem;
//   }
  
//   .description {
//     display: grid;
//     grid-template-columns: minmax(400px, 1fr) 1fr;
//     grid-auto-rows: 500px;
//   }
  
//   .description .info {
//     margin-left: var(--space-base);
//     margin-right: calc(var(--space-base) * 2);
//     align-self: center;
//   }
  
//   .info h1 {
//     color: var(--dark-blue);
//     font-size: 4.8rem;
//     font-weight: 900;
//     line-height: 4.8rem;


// }
  
//   .info p {
//     margin: var(--space-base) 0;
//   }
  
//   .info button {
//     padding: calc(var(--space-base) / 3) var(--space-base) ;
  
//     font: inherit;
    
//     color: white;
//     background: linear-gradient(180deg, var(--light-orange) 25%, var(--orange) 100%);
    
//     border: none;
//     border-radius: var(--space-base);
//     outline: inherit;
//     cursor: pointer;
//   }
  
//   .description .info-img {
//     width: 100%;
//     height: 100%;
//     object-fit:cover; //type of dessepearing img 
//   }
  
//   .our-services h2 {
//     margin-top: var(--space-base);
//     color: var(--dark-blue);
//     font-weight: 500;
//     text-align: center;
//   }
  
//   .dishes {
//     margin: var(--space-base) 0;
//     position: relative;
//     display: grid;
//     grid-template-columns: repeat(4, minmax(120px, 220px));
//     grid-template-rows: 1fr;
//     gap: calc(var(--space-base));
//     justify-content: center;
//   }
  
// //   .video-img,
// //   .dish-img {
// //     width: 100%;
// //     height: 100%;
// //     border-radius: 5px;
// //     object-fit: cover;
// //   }
  
// //   .dishes .video-img {
// //     grid-area: 1/1/3/3;
// //   }
  
// //   .dish {
// //     position: relative;
// //   }  

// //   .dishes p {
// //     position: absolute;
// //     left: 10px;
// //     bottom: 10px;
  
// //     font-size: 2.2rem;
// //     color: white;
// //     text-shadow: 1px 1px 2px #1b1b1b;
// //   }
  
// //   .home-menu h2 {
// //     padding-top: var(--space-base);
// //     color: var(--dark-blue);
// //     font-weight: 500;
// //     text-align: center;
// //   }
  
// //   .menus {
// //     margin: var(--space-base) 0;
// //     display: grid;
// //     grid-template-columns: repeat(5, minmax(50px, 200px));
// //     gap: var(--space-base);
// //     justify-content: center;
// //   }
  
// //   .menu-img {
// //     width: 100%;
// //     height: 100%;
// //     object-fit: cover;
// //   }
  
// //   .menu {
// //     position: relative;
// //     padding: calc(var(--space-base) / 2);
// //     background-color: var(--light-orange);
// //     border-radius: var(--space-base) 5px 5px 5px;
// //   }
  
// //   .fa-heart {
// //     position: absolute;
// //     right: 10px;
// //     top: 10px;
// //     color: var(--green);
// //     cursor: pointer;
// //     filter: drop-shadow(0px 3px 2px rgb(0 0 0 / 0.4));
// //   }
  
// //   .fa-heart::after {
// //     content: '';
// //     z-index: -1;
// //     -webkit-transition: all 0.3s;
// //     -moz-transition: all 0.3s;
// //     transition: all 0.3s;
// //   }
  
// //   .fa-heart:active {
// //     top: 12px;
// //     filter: none;
// //   }
  
// //   .orange {
// //     color: var(--orange);
// //   }
  
//   @media  (max-width: 768px) {
//     // .description {
//     //   grid-template-columns: minmax(300px, 500px);
//     // }
  
//     // .description .info {
//     //   margin-left: 0;
//     //   margin-right: 0;
//     // }
  
//     // .info-img {
//     //   display: none;
//     // }
  
//     // .dishes {
//     //   grid-template-columns: repeat(auto-fit, minmax(75px, 120px));
//     //   gap: calc(var(--space-base) / 2);
//     // }
  
//     // .menus {
//     //   grid-template-columns: repeat(auto-fit, minmax(90px, 120px));
//     //   gap: calc(var(--space-base) / 2);
//     // }
  
//     // .menu {
//     //   padding: calc(var(--space-base) / 3);
//     //   border-radius: calc(var(--space-base) / 1.5) 3px 3px 3px;
//     // }
  
//     // .fa-heart {
//     //   right: 8px;
//     //   top: 8px;
//     // }
    
//   }
  
//   @media screen and (max-width: 320px) {
//     // .description h1 {
//     //   font-size: 3.6rem;
//     //   line-height: 3.6rem;
//     // }
  
//     // .info {
//     //   width: 200px;
//     // }
  
//     // .dishes {
//     //   grid-template-columns: repeat(auto-fit, minmax(75px, 100px));
//     //   gap: calc(var(--space-base) / 2);
//     // }
  
//     // .menus {
//     //   grid-template-columns: repeat(auto-fit, minmax(90px, 160px));
//     //   gap: calc(var(--space-base) / 2);
//     // }
//   }
